<a href="{{ path('wajih_produit_delete', {'id': produit.id}) }}" 
   onclick="this.href = 'javascript:fetch(\'' + this.href + '\', {method: \'POST\'}).then(() => window.location.reload())" 
   class="btn btn-danger" style="text-decoration: none;">Supprimer</a>
