{% extends 'base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Modifier Commande</h1>

    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wajih_commande_index') }}">Retourner à la liste</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
