<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TGV DELIVERY - Gestion des services{% endblock %}</title>
    <link rel="icon" href="{{ asset('admin/images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('front/css/navbar-delivery.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block navbar %}{% include 'front/Partials/navbar_delivery.html.twig' %}{% endblock %}
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    {% include 'front/Partials/footer.html.twig' %}
    <script>document.querySelectorAll('form').forEach(function(f){f.addEventListener('submit',function(){var b=this.querySelector('button[type="submit"]');if(b&&!b.disabled)b.disabled=true;});});</script>
    {% block javascripts %}{% endblock %}
</body>
</html>
