<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Delivery App{% endblock %}</title>

    {# ===== CSS ===== #}
    <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>

    {# ===== MAIN CONTENT ===== #}
    {% block body %}{% endblock %}

    {# ===== OPTIONAL UI COMPONENTS ===== #}
    {% include 'partials/theme_customizer.html.twig' %}

    {# ===== JS ===== #}
    <script src="{{ asset('assets/vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
