{% extends 'layout/base_back.html.twig' %}

{% block title %}Nouveau contrat{% endblock %}

{% block page_title %}Créer un contrat{% endblock %}

{% block body %}
    <div class="card shadow-sm border-0">
        <div class="card-body">
            {{ include('contrat/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
